*{box-sizing: border-box;}



header {
  background: -moz-linear-gradient(top, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%); /* FF3.6-15 */
  background-image: url(/images/header-image.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  max-height: 350px;

  padding: 5em;

}


.header-logo{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  }

.header-logo img {
  width: 400px;
}

.header-logo h1 {
  display: block;
  font-family: 'Spectral', serif;
  font-style: italic;
  font-weight: 400;
  color: rgb(126, 170, 71);
  font-size: 1.5rem;
  margin: 0;
}


.checkout {
  display: flex;
  flex-direction: column;
  width: 5%;
}

.button-container {
  display: flex;
  align-items: center;
  padding-top: 1em;
  width: 10em;
}

.checkout-button {
  font-weight: bold;
  font-size: 15px;
  background-color:rgb(126, 170, 71);
  border-radius: 2px;
  border-style: none;
  padding: .25em;
  color: white;
  outline: inherit;
  cursor:pointer;
}

.container {
  margin: auto;

}

p{
  font-family: arial,sans-serif;
  font-weight: lighter;
}

a{
  text-decoration: none;
}


nav {
  font-weight: bold;
  text-decoration: none;
  color:rgb(19, 53, 83);
  background-color: rgb(233, 233, 233) ;
  padding: 1rem;
  padding-left: 10em;
}

body{
  margin: 0;
  color:rgb(19, 53, 83);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  height: 100%;
}

aside{
  float: right;
  line-height: 2;
}

.blog-card {
  display: flex;
  flex-direction: column;
  width: 14rem;

}


.intro-container {
  display: flex;
  flex-wrap: wrap;
  width: 56rem;
  line-height: 2;

}

.intro {
  display: flex;
  flex-direction: column;
  padding: 2em;

}

.intro img {
  width: 50%;
  object-fit: cover;
}


.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 48rem;
  justify-content: center;
}

.dog-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  width: 14rem;
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: rgb(233, 233, 233) solid 1px;
  padding: .5rem;
  }

.card-button {
  font-weight: bold;
  font-size: 15px;
  background-color:rgb(126, 170, 71);
  border-radius: 2px;
  border-style: none;
  padding: .25em;
  color: white;
  outline: inherit;
  cursor:pointer;

}



form {
  display: grid;
  grid-gap: .5em;
  grid-column: 2;
  align-items: center;

}

.adopted {
  display: grid;
  grid-column:2;
  grid-row: 2;
  align-items: center;

}

.adopted img{
  width: 30%;

}

.lucas-cart {
  grid-row: 2;
}

.duffy-cart {
  grid-row: 2;

}

.cart{
  display: grid;
  grid-row: 3;
  grid-column: 1;
  align-items: center;

}

.cart input {
  text-decoration: none;
  background-color:rgb(126, 170, 71);
  border-radius: 2px;
  padding: .5em;
  color: white;
  text-align: center;
  font-weight: bold;
}


.more-dogs {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 3em;

}

.more-dogs a {
  background-color: rgb(233, 233, 233);
  border-radius: 2px;
  padding: .5em;
  padding-left: 2em;
  padding-right: 2em;
  color: rgb(19, 53, 83);

}

footer {
  max-height: 420px;
  justify-content: center;
  background-color: rgb(19, 53, 83);
  color: white;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 10px;
}

footer p {
  padding-top: 1em;
}


footer a {
  color: white;
  padding-top: 1em;
}

footer img {
  width: 20%;

}

@media only screen and (max-width: 992px){

    .wrapper{
      width: 40rem;
    }
    .dog-card{
      width: 18rem;
    }
    .aside-container{
      display: none;

    }
    header{
      background-image: url(/images/header-image-800w.jpeg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 250px;
    }
    .header-logo h1 {
      font-size: 1rem;
    }

}


@media only screen and (max-width: 600px) {
    .wrapper{
      width: 30rem;
  }
    .dog-card{
      width: 100%;
  }

  header{
    background-image: url(/images/header-image-600w.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
  }

  .header-logo img {
    width: 250px;
  }

  .header-logo h1 {
    display: none;
  }
}
