*{box-sizing: border-box;}



header {
  background: -moz-linear-gradient(top, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%); /* FF3.6-15 */
  background-image: url(/images/header-image.jpg);
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  width: 100%;
}



header img {
  width: 400px;
}

header h1 {
  display: block;
  font-family: 'Spectral', serif;
  font-style: italic;
  font-weight: 400;
  color: rgb(126, 170, 71);
  font-size: 1.5rem;
  margin: 0;
  width: 400px;
}

.header-logo img{
  max-width: 400px;
}

.header-logo {
  padding: 3rem;
}


.button-container {
  float: right;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-right: 15rem;

}

.checkout {
  width: 1.5rem;

}
#cart-total {
  color: #ADD8E6;
}

.checkout-total p {
  padding-left: .5rem;
}

.checkout-button {
  font-weight: bold;
  font-size: 15px;
  background-color:rgb(126, 170, 71);
  border-radius: 2px;
  border-style: none;
  padding: 0.5em 3rem 0.5rem 3rem;
  color: white;
}

.container {
  margin: auto;

}


p{
  font-family: arial,sans-serif;
}

a{
  text-decoration: none;
}


nav {
  font-weight: bold;
  background-color: rgb(233, 233, 233) ;
  padding: 1.5rem;
  padding-left: 6.5em;
  font-size: 18px;
  word-spacing: 15px;
  font-family: sans-serif;
}

nav a{
  color: rgb(19, 53, 83);

}

body{
  margin: 0;
  color:rgb(19, 53, 83);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-main {
  margin: 2rem 15rem;
  height: 100%;
}

aside{
  float: right;
  margin-right: 14rem;

}

aside img {
  height: 200px;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 50rem;
}

.intro img{
  width: 700px;
  height: 310px;
  object-fit: cover;
}
.intro-text{
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50rem;

}

.dogs-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 64rem;
}

.dog-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  width: 14rem;
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: rgb(233, 233, 233) solid 1px;
  padding: .5rem;
  border-radius: 3px;
  }

.card-button {
  font-weight: bold;
  font-size: 15px;
  background-color:rgb(126, 170, 71);
  border-radius: 2px;
  border-style: none;
  padding: .25em;
  color: white;
  outline: inherit;
  cursor:pointer;

}

.blog-card {
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding-bottom: 5rem;

}

.blog-card a{
  color: rgb(79, 154, 183);
  font-family: sans-serif;
  font-size: 14px;
}

.blog-card img {
  width: 300px;
  height: 169px;
  object-fit: cover;
}

.blog {
  display: flex;
  padding-bottom: 3rem;
  line-height: 1.8;

}

.blog h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.blog img {
  height: 310px;
}

.blog-text {
  width: 65%;
  padding-left: 1.5em;
}



.checkout-wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem 15rem;

}
form {
  display: flex;
  flex-direction: column;
}
label, fieldset, legend {
  padding-top: 1rem;
  box-sizing: border-box;

}


input {
  line-height: 3;
}

.adopted {
  display: flex;
}

.cart-dog img {
  width: 50%;
}

.cart input {
  line-height: 1;
  text-decoration: none;
  background-color:rgb(126, 170, 71);
  border-radius: 2px;
  padding: .5em;
  color: white;
  text-align: center;
  font-weight: bold;
}


.more-dogs {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 3em;

}

.more-dogs a {
  background-color: rgb(233, 233, 233);
  border-radius: 2px;
  padding: .5em;
  padding-left: 2em;
  padding-right: 2em;
  color: rgb(19, 53, 83);
  font-weight: bold;

}

footer {
  max-height: 420px;
  justify-content: center;
  background-color: rgb(19, 53, 83);
  color: white;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 14px;
  font-family: sans-serif;
}

footer p {
  padding-top: 1em;
}

.footer-nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer-nav a {
  color: white;
  padding-top: 1em;
  word-spacing: 10px;
  font-weight: bold;
}

footer img {
  width: 20%;

}

@media only screen and (max-width: 992px){

    .wrapper, .dogs-wrapper{
      width: 40rem;
    }
    .dog-card{
      width: 18rem;
    }
    .aside-container{
      display: none;

    }

    aside {
      display: none;
    }



@media only screen and (max-width: 600px) {

  .container {
    margin: 0;
  }
  .wrapper, .dogs-wrapper{
    width: 100%;
  }


  .dog-card{
    width: 100%;
  }

  .intro {
    display: none;
  }

  .header-logo{
    display: none;
  }

  header{
    height: 200px;

  }

  .button-container {
    float: left;


  }
